*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all 0.8s ease;
}

body{
    background: linear-gradient(45deg, #ff7360, #fffde7);
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-wrap: wrap;
}
.calculator{
    position: relative;
    width: auto;
    height: auto;
    background-color: #d06aff;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 0 20px 1px #ff81ff; 
    transition: all .5s;
    //en scss las clases hijas se declaran dentro de la padre
    #display{
        height: 120px;
        font-size: 2em;
        line-height: 1em;
        font-weight: bold;
        color: #ffff;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-bottom: 0.5em;
        padding: 0.5em;
    }
    .calculator-buttons{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
        .equal{
            grid-area: 4/4/6/5;
            button{
                height: 95%;
              }
        }
    }
    button{
        height: 60px;
        width: 60px;
        border: 0;
        border-radius: 30px;
        margin: 5px;
        font-size: 20px;
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover{
            transform: scale(1.1);
        }
    }
    #clear{
        background-color: #ffd5d8;
        color: #fc4552;
    }
    .btn-number {
        background-color: #c3eaff;
        color: #000000;
      }
    .btn-operator {
        background-color: #ffff51;
        color: #f967f3;
      }
    .btn-equal {
        background-color: #adf9e7;
        color: #000;
      }
    //modo dark
    //& este apostrofe hace referencia a la clase padre en este caso calculator
    &.dark {
        background-color: #000000;
        transition: all .5s ease-in-out;
        #display {
            color: #f8fafb;
        }
        #clear {
            background-color:#c3eaff;
            color: fc4552;
        }
        .btn-number {
            background-color:#adf9e7;
            color: black;
            font-weight: 600;
        }
        .btn-operator {
            background-color:#f5a9ae;
            color: #ffff51;
        }
        .btn-equal {
            background-color: #f967f3;
            color: #b9f0eb;
        }
}}
.theme-toggler{
    position: absolute;
    right: 30px; 
    top: 30px; 
    cursor: pointer;
    z-index: 1;
    //decorador antes de 
    &::before{
        content:'';
        position: absolute;
        height: 30px;
        width: 30px;
        transform: translate(-50%, -50%); 
        border-radius: 50%;
        background-color: rgb(0, 0, 0);
    }
}
.theme-toggler.active{
    &::before {
      background-color: rgb(255, 255, 255);
    }
}